body {
    background-color: blueviolet;
}

header {
    text-align: center;
    background-color: magenta;
    border: 4px black solid;

}
#instructions {
    color: #cccccc;
    margin: 20px;

}

img {
    width: 125px;
    height: auto;
}
.crystals {
    margin-top: 40px;
}
#talley {
    width: 60%;
    height: 200px;
    border: snow solid 2px;
    margin-right: 10px;
    padding-top: 40px;
    color: #cccccc;
}
.game {
    margin-left: 10px;
}